body { font: 14px/1.5 Tahoma,Arial,"Microsoft Yahei",serif; }
h1 { margin-bottom: 30px; font-size: 28px; width: 400px; border-bottom: 1px solid rgb(204, 204, 204); }
select, option { margin: 0px; padding: 0px; font: 14px/1 Tahoma,Arial,"Microsoft Yahei",serif; }
.show_panel { margin-left: 240px; margin-top: 20px; padding: 10px 20px; width: 160px; text-align: center; color: rgb(255, 255, 255); font-size: 20px; font-weight: bold; background-color: rgb(57, 131, 228); animation: 2s ease 0s alternate forwards infinite running ani-trans; }
