#div1 { width: 200px; height: 200px; background-color: blue; }
#div2 { width: 200px; height: 200px; background-color: blue; }
#div3 { width: 200px; height: 200px; background-color: blue; }
#div4 { width: 200px; height: 200px; background-color: blue; }
p { font-size: 18px; color: rgb(153, 153, 153); text-align: center; }
