.tester { width: 200px; height: 200px; color: rgb(255, 255, 255); background-color: rgb(0, 102, 204); box-shadow: 3px 3px 5px rgb(102, 102, 102); }
.shower { font: 16px/1.5 Microsoft Yahei; margin: 20px 0px; }
