body { font: 14px/1.5 Tahoma,Arial,"Microsoft Yahei",serif; }
h1 { margin-bottom: 30px; font-size: 28px; width: 400px; border-bottom: 1px solid rgb(204, 204, 204); }
dl, dt, dd { margin: 0px; padding: 0px; }
