body { font: 14px/1.5 Tahoma,Arial,"Microsoft Yahei",serif; }
ul, li { margin: 6px 0px; padding: 0px; list-style: outside none none; font-size: 16px; }
h1 { margin-bottom: 30px; font-size: 28px; width: 490px; border-bottom: 1px solid rgb(204, 204, 204); }
.control_panel { float: left; }
.runner_list { position: relative; margin-left: 260px; }
.runner_list li { position: absolute; background-color: rgb(57, 131, 228); color: rgb(255, 255, 255); font-size: 12px; }
.runner_list .runner { z-index: 2; padding: 4px 10px; }
#runner1 { top: 0px; left: 0px; transition: transform 1s linear 0s; }
#runner2 { top: 30px; left: 0px; transition: transform 1s ease 0s; }
#runner3 { top: 60px; left: 0px; transition: transform 1s ease-in 0s; }
#runner4 { top: 90px; left: 0px; transition: transform 1s ease-out 0s; }
#runner5 { top: 120px; left: 0px; transition: transform 1s ease-in-out 0s; }
#runner6 { top: 150px; left: 0px; transition: transform 1s cubic-bezier(0.2, 0.3, 0.9, 0.7) 0s; }
#runner7 { top: 180px; left: 0px; transition: transform 1s cubic-bezier(0.8, -0.5, 0.3, 1.5) 0s; }
