body { font: 14px/1.5 Tahoma,Arial,"Microsoft Yahei",serif; }
.test { width: 200px; height: 200px; margin: 10px; border: 1px solid rgb(204, 204, 204); }
.horizontal-tb {  }
.vertical-rl {  }
.vertical-lr {  }
