/* ::::: http://www.ascii-codes.com/ascii-codes.css ::::: */

html, body { height: 100%; }
body { background: url('background.png') repeat-x scroll left top rgb(208, 208, 208); color: rgb(0, 0, 0); font: 12px Verdana,Arial,sans-serif; margin: 0px auto; text-align: center; }
img { border: 0px none; }
h1 { font-size: 24px; font-weight: bold; margin-left: 5px; }
h2 { font-weight: bold; font-size: 14px; margin: 30px 0px 10px 5px; }
span { font-weight: bold; text-decoration: underline; }
table { border: 1px solid rgb(171, 171, 171); border-collapse: collapse; width: 100%; }
tr { background: url('gradient.png') repeat-x scroll 0% 0% transparent; }
tr:first-child { background: none repeat scroll 0% 0% rgb(128, 208, 254); font-weight: bold; }
td { border-top: 1px solid rgb(171, 171, 171); text-align: center; width: 5%; }
td:nth-child(4) { border-right: 1px solid rgb(171, 171, 171); width: 35%; }
td:nth-child(8) { width: 35%; }
#container { background: url('container.png') repeat-y scroll center top transparent; height: auto ! important; margin: 0px auto; min-height: 100%; padding: 0px 5px; position: relative; width: 980px; }
#header { background: url('header.png') no-repeat scroll left top transparent; height: 140px; }
#header strong { color: rgb(255, 255, 255); display: block; font-weight: bold; padding-top: 115px; text-shadow: 0px 1px 0px rgb(85, 85, 85); }
#menu { border-bottom: 1px solid rgb(152, 152, 152); border-top: 1px solid rgb(118, 182, 220); height: 32px; margin: 0px; padding: 0px; }
#menu li { display: block; float: left; }
#menu a { background: none repeat scroll 0% 0% rgb(51, 51, 51); color: rgb(204, 204, 204); display: inline-block; font-weight: bold; padding: 9px 0px; text-align: center; text-decoration: none; text-shadow: 0px 1px 0px rgb(0, 0, 0); width: 70px; }
#menu a#selected { color: rgb(255, 255, 255); }
#menu a:hover { background: none repeat scroll 0% 0% rgb(37, 128, 162); color: rgb(255, 255, 255); }
#content { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 20px 50px; text-align: justify; }
#footer { overflow: hidden; position: absolute; bottom: 0px; border-top: 1px solid rgb(216, 239, 250); background: url('footer.png') no-repeat scroll left top transparent; color: rgb(255, 255, 255); font-weight: bold; text-shadow: 0px 1px 0px rgb(85, 85, 85); width: 980px; height: 30px; }
#copyright { float: left; margin-left: 20px; padding-top: 7px; }
#copyright a { color: rgb(255, 255, 0); }
#standards { float: right; margin-right: 20px; padding-top: 4px; }
.character { width: 9px; height: 16px; margin: 0px auto; }
#nul { background: url('cp437.png') repeat scroll 0px 0px transparent; }
#soh { background: url('cp437.png') repeat scroll -9px 0px transparent; }
#stx { background: url('cp437.png') repeat scroll -18px 0px transparent; }
#etx { background: url('cp437.png') repeat scroll -27px 0px transparent; }
#eot { background: url('cp437.png') repeat scroll -36px 0px transparent; }
#enq { background: url('cp437.png') repeat scroll -45px 0px transparent; }
#ack { background: url('cp437.png') repeat scroll -54px 0px transparent; }
#bel { background: url('cp437.png') repeat scroll -63px 0px transparent; }
#bs { background: url('cp437.png') repeat scroll -72px 0px transparent; }
#ht { background: url('cp437.png') repeat scroll -81px 0px transparent; }
#lf { background: url('cp437.png') repeat scroll -90px 0px transparent; }
#vt { background: url('cp437.png') repeat scroll -99px 0px transparent; }
#ff { background: url('cp437.png') repeat scroll -108px 0px transparent; }
#cr { background: url('cp437.png') repeat scroll -117px 0px transparent; }
#so { background: url('cp437.png') repeat scroll -126px 0px transparent; }
#si { background: url('cp437.png') repeat scroll -135px 0px transparent; }
#dle { background: url('cp437.png') repeat scroll -144px 0px transparent; }
#dc1 { background: url('cp437.png') repeat scroll -153px 0px transparent; }
#dc2 { background: url('cp437.png') repeat scroll -162px 0px transparent; }
#dc3 { background: url('cp437.png') repeat scroll -171px 0px transparent; }
#dc4 { background: url('cp437.png') repeat scroll -180px 0px transparent; }
#nak { background: url('cp437.png') repeat scroll -189px 0px transparent; }
#syn { background: url('cp437.png') repeat scroll -198px 0px transparent; }
#etb { background: url('cp437.png') repeat scroll -207px 0px transparent; }
#can { background: url('cp437.png') repeat scroll -216px 0px transparent; }
#em { background: url('cp437.png') repeat scroll -225px 0px transparent; }
#sub { background: url('cp437.png') repeat scroll -234px 0px transparent; }
#esc { background: url('cp437.png') repeat scroll -243px 0px transparent; }
#fs { background: url('cp437.png') repeat scroll -252px 0px transparent; }
#gs { background: url('cp437.png') repeat scroll -261px 0px transparent; }
#rs { background: url('cp437.png') repeat scroll -270px 0px transparent; }
#us { background: url('cp437.png') repeat scroll -279px 0px transparent; }
#cp437-032 { background: url('cp437.png') repeat scroll -288px 0px transparent; }
#cp437-033 { background: url('cp437.png') repeat scroll -297px 0px transparent; }
#cp437-034 { background: url('cp437.png') repeat scroll -306px 0px transparent; }
#cp437-035 { background: url('cp437.png') repeat scroll -315px 0px transparent; }
#cp437-036 { background: url('cp437.png') repeat scroll -324px 0px transparent; }
#cp437-037 { background: url('cp437.png') repeat scroll -333px 0px transparent; }
#cp437-038 { background: url('cp437.png') repeat scroll -342px 0px transparent; }
#cp437-039 { background: url('cp437.png') repeat scroll -351px 0px transparent; }
#cp437-040 { background: url('cp437.png') repeat scroll -360px 0px transparent; }
#cp437-041 { background: url('cp437.png') repeat scroll -369px 0px transparent; }
#cp437-042 { background: url('cp437.png') repeat scroll -378px 0px transparent; }
#cp437-043 { background: url('cp437.png') repeat scroll -387px 0px transparent; }
#cp437-044 { background: url('cp437.png') repeat scroll -396px 0px transparent; }
#cp437-045 { background: url('cp437.png') repeat scroll -405px 0px transparent; }
#cp437-046 { background: url('cp437.png') repeat scroll -414px 0px transparent; }
#cp437-047 { background: url('cp437.png') repeat scroll -423px 0px transparent; }
#cp437-048 { background: url('cp437.png') repeat scroll -432px 0px transparent; }
#cp437-049 { background: url('cp437.png') repeat scroll -441px 0px transparent; }
#cp437-050 { background: url('cp437.png') repeat scroll -450px 0px transparent; }
#cp437-051 { background: url('cp437.png') repeat scroll -459px 0px transparent; }
#cp437-052 { background: url('cp437.png') repeat scroll -468px 0px transparent; }
#cp437-053 { background: url('cp437.png') repeat scroll -477px 0px transparent; }
#cp437-054 { background: url('cp437.png') repeat scroll -486px 0px transparent; }
#cp437-055 { background: url('cp437.png') repeat scroll -495px 0px transparent; }
#cp437-056 { background: url('cp437.png') repeat scroll -504px 0px transparent; }
#cp437-057 { background: url('cp437.png') repeat scroll -513px 0px transparent; }
#cp437-058 { background: url('cp437.png') repeat scroll -522px 0px transparent; }
#cp437-059 { background: url('cp437.png') repeat scroll -531px 0px transparent; }
#cp437-060 { background: url('cp437.png') repeat scroll -540px 0px transparent; }
#cp437-061 { background: url('cp437.png') repeat scroll -549px 0px transparent; }
#cp437-062 { background: url('cp437.png') repeat scroll -558px 0px transparent; }
#cp437-063 { background: url('cp437.png') repeat scroll -567px 0px transparent; }
#cp437-064 { background: url('cp437.png') repeat scroll -576px 0px transparent; }
#cp437-065 { background: url('cp437.png') repeat scroll -585px 0px transparent; }
#cp437-066 { background: url('cp437.png') repeat scroll -594px 0px transparent; }
#cp437-067 { background: url('cp437.png') repeat scroll -603px 0px transparent; }
#cp437-068 { background: url('cp437.png') repeat scroll -612px 0px transparent; }
#cp437-069 { background: url('cp437.png') repeat scroll -621px 0px transparent; }
#cp437-070 { background: url('cp437.png') repeat scroll -630px 0px transparent; }
#cp437-071 { background: url('cp437.png') repeat scroll -639px 0px transparent; }
#cp437-072 { background: url('cp437.png') repeat scroll -648px 0px transparent; }
#cp437-073 { background: url('cp437.png') repeat scroll -657px 0px transparent; }
#cp437-074 { background: url('cp437.png') repeat scroll -666px 0px transparent; }
#cp437-075 { background: url('cp437.png') repeat scroll -675px 0px transparent; }
#cp437-076 { background: url('cp437.png') repeat scroll -684px 0px transparent; }
#cp437-077 { background: url('cp437.png') repeat scroll -693px 0px transparent; }
#cp437-078 { background: url('cp437.png') repeat scroll -702px 0px transparent; }
#cp437-079 { background: url('cp437.png') repeat scroll -711px 0px transparent; }
#cp437-080 { background: url('cp437.png') repeat scroll -720px 0px transparent; }
#cp437-081 { background: url('cp437.png') repeat scroll -729px 0px transparent; }
#cp437-082 { background: url('cp437.png') repeat scroll -738px 0px transparent; }
#cp437-083 { background: url('cp437.png') repeat scroll -747px 0px transparent; }
#cp437-084 { background: url('cp437.png') repeat scroll -756px 0px transparent; }
#cp437-085 { background: url('cp437.png') repeat scroll -765px 0px transparent; }
#cp437-086 { background: url('cp437.png') repeat scroll -774px 0px transparent; }
#cp437-087 { background: url('cp437.png') repeat scroll -783px 0px transparent; }
#cp437-088 { background: url('cp437.png') repeat scroll -792px 0px transparent; }
#cp437-089 { background: url('cp437.png') repeat scroll -801px 0px transparent; }
#cp437-090 { background: url('cp437.png') repeat scroll -810px 0px transparent; }
#cp437-091 { background: url('cp437.png') repeat scroll -819px 0px transparent; }
#cp437-092 { background: url('cp437.png') repeat scroll -828px 0px transparent; }
#cp437-093 { background: url('cp437.png') repeat scroll -837px 0px transparent; }
#cp437-094 { background: url('cp437.png') repeat scroll -846px 0px transparent; }
#cp437-095 { background: url('cp437.png') repeat scroll -855px 0px transparent; }
#cp437-096 { background: url('cp437.png') repeat scroll -864px 0px transparent; }
#cp437-097 { background: url('cp437.png') repeat scroll -873px 0px transparent; }
#cp437-098 { background: url('cp437.png') repeat scroll -882px 0px transparent; }
#cp437-099 { background: url('cp437.png') repeat scroll -891px 0px transparent; }
#cp437-100 { background: url('cp437.png') repeat scroll -900px 0px transparent; }
#cp437-101 { background: url('cp437.png') repeat scroll -909px 0px transparent; }
#cp437-102 { background: url('cp437.png') repeat scroll -918px 0px transparent; }
#cp437-103 { background: url('cp437.png') repeat scroll -927px 0px transparent; }
#cp437-104 { background: url('cp437.png') repeat scroll -936px 0px transparent; }
#cp437-105 { background: url('cp437.png') repeat scroll -945px 0px transparent; }
#cp437-106 { background: url('cp437.png') repeat scroll -954px 0px transparent; }
#cp437-107 { background: url('cp437.png') repeat scroll -963px 0px transparent; }
#cp437-108 { background: url('cp437.png') repeat scroll -972px 0px transparent; }
#cp437-109 { background: url('cp437.png') repeat scroll -981px 0px transparent; }
#cp437-110 { background: url('cp437.png') repeat scroll -990px 0px transparent; }
#cp437-111 { background: url('cp437.png') repeat scroll -999px 0px transparent; }
#cp437-112 { background: url('cp437.png') repeat scroll -1008px 0px transparent; }
#cp437-113 { background: url('cp437.png') repeat scroll -1017px 0px transparent; }
#cp437-114 { background: url('cp437.png') repeat scroll -1026px 0px transparent; }
#cp437-115 { background: url('cp437.png') repeat scroll -1035px 0px transparent; }
#cp437-116 { background: url('cp437.png') repeat scroll -1044px 0px transparent; }
#cp437-117 { background: url('cp437.png') repeat scroll -1053px 0px transparent; }
#cp437-118 { background: url('cp437.png') repeat scroll -1062px 0px transparent; }
#cp437-119 { background: url('cp437.png') repeat scroll -1071px 0px transparent; }
#cp437-120 { background: url('cp437.png') repeat scroll -1080px 0px transparent; }
#cp437-121 { background: url('cp437.png') repeat scroll -1089px 0px transparent; }
#cp437-122 { background: url('cp437.png') repeat scroll -1098px 0px transparent; }
#cp437-123 { background: url('cp437.png') repeat scroll -1107px 0px transparent; }
#cp437-124 { background: url('cp437.png') repeat scroll -1116px 0px transparent; }
#cp437-125 { background: url('cp437.png') repeat scroll -1125px 0px transparent; }
#cp437-126 { background: url('cp437.png') repeat scroll -1134px 0px transparent; }
#cp437-127 { background: url('cp437.png') repeat scroll -1143px 0px transparent; }
/* ::::: http://www.ascii-codes.com/cp863.css ::::: */

#cp863-128 { background: url('cp863.png') repeat scroll 0px 0px transparent; }
#cp863-129 { background: url('cp863.png') repeat scroll -9px 0px transparent; }
#cp863-130 { background: url('cp863.png') repeat scroll -18px 0px transparent; }
#cp863-131 { background: url('cp863.png') repeat scroll -27px 0px transparent; }
#cp863-132 { background: url('cp863.png') repeat scroll -36px 0px transparent; }
#cp863-133 { background: url('cp863.png') repeat scroll -45px 0px transparent; }
#cp863-134 { background: url('cp863.png') repeat scroll -54px 0px transparent; }
#cp863-135 { background: url('cp863.png') repeat scroll -63px 0px transparent; }
#cp863-136 { background: url('cp863.png') repeat scroll -72px 0px transparent; }
#cp863-137 { background: url('cp863.png') repeat scroll -81px 0px transparent; }
#cp863-138 { background: url('cp863.png') repeat scroll -90px 0px transparent; }
#cp863-139 { background: url('cp863.png') repeat scroll -99px 0px transparent; }
#cp863-140 { background: url('cp863.png') repeat scroll -108px 0px transparent; }
#cp863-141 { background: url('cp863.png') repeat scroll -117px 0px transparent; }
#cp863-142 { background: url('cp863.png') repeat scroll -126px 0px transparent; }
#cp863-143 { background: url('cp863.png') repeat scroll -135px 0px transparent; }
#cp863-144 { background: url('cp863.png') repeat scroll -144px 0px transparent; }
#cp863-145 { background: url('cp863.png') repeat scroll -153px 0px transparent; }
#cp863-146 { background: url('cp863.png') repeat scroll -162px 0px transparent; }
#cp863-147 { background: url('cp863.png') repeat scroll -171px 0px transparent; }
#cp863-148 { background: url('cp863.png') repeat scroll -180px 0px transparent; }
#cp863-149 { background: url('cp863.png') repeat scroll -189px 0px transparent; }
#cp863-150 { background: url('cp863.png') repeat scroll -198px 0px transparent; }
#cp863-151 { background: url('cp863.png') repeat scroll -207px 0px transparent; }
#cp863-152 { background: url('cp863.png') repeat scroll -216px 0px transparent; }
#cp863-153 { background: url('cp863.png') repeat scroll -225px 0px transparent; }
#cp863-154 { background: url('cp863.png') repeat scroll -234px 0px transparent; }
#cp863-155 { background: url('cp863.png') repeat scroll -243px 0px transparent; }
#cp863-156 { background: url('cp863.png') repeat scroll -252px 0px transparent; }
#cp863-157 { background: url('cp863.png') repeat scroll -261px 0px transparent; }
#cp863-158 { background: url('cp863.png') repeat scroll -270px 0px transparent; }
#cp863-159 { background: url('cp863.png') repeat scroll -279px 0px transparent; }
#cp863-160 { background: url('cp863.png') repeat scroll -288px 0px transparent; }
#cp863-161 { background: url('cp863.png') repeat scroll -297px 0px transparent; }
#cp863-162 { background: url('cp863.png') repeat scroll -306px 0px transparent; }
#cp863-163 { background: url('cp863.png') repeat scroll -315px 0px transparent; }
#cp863-164 { background: url('cp863.png') repeat scroll -324px 0px transparent; }
#cp863-165 { background: url('cp863.png') repeat scroll -333px 0px transparent; }
#cp863-166 { background: url('cp863.png') repeat scroll -342px 0px transparent; }
#cp863-167 { background: url('cp863.png') repeat scroll -351px 0px transparent; }
#cp863-168 { background: url('cp863.png') repeat scroll -360px 0px transparent; }
#cp863-169 { background: url('cp863.png') repeat scroll -369px 0px transparent; }
#cp863-170 { background: url('cp863.png') repeat scroll -378px 0px transparent; }
#cp863-171 { background: url('cp863.png') repeat scroll -387px 0px transparent; }
#cp863-172 { background: url('cp863.png') repeat scroll -396px 0px transparent; }
#cp863-173 { background: url('cp863.png') repeat scroll -405px 0px transparent; }
#cp863-174 { background: url('cp863.png') repeat scroll -414px 0px transparent; }
#cp863-175 { background: url('cp863.png') repeat scroll -423px 0px transparent; }
#cp863-176 { background: url('cp863.png') repeat scroll -432px 0px transparent; }
#cp863-177 { background: url('cp863.png') repeat scroll -441px 0px transparent; }
#cp863-178 { background: url('cp863.png') repeat scroll -450px 0px transparent; }
#cp863-179 { background: url('cp863.png') repeat scroll -459px 0px transparent; }
#cp863-180 { background: url('cp863.png') repeat scroll -468px 0px transparent; }
#cp863-181 { background: url('cp863.png') repeat scroll -477px 0px transparent; }
#cp863-182 { background: url('cp863.png') repeat scroll -486px 0px transparent; }
#cp863-183 { background: url('cp863.png') repeat scroll -495px 0px transparent; }
#cp863-184 { background: url('cp863.png') repeat scroll -504px 0px transparent; }
#cp863-185 { background: url('cp863.png') repeat scroll -513px 0px transparent; }
#cp863-186 { background: url('cp863.png') repeat scroll -522px 0px transparent; }
#cp863-187 { background: url('cp863.png') repeat scroll -531px 0px transparent; }
#cp863-188 { background: url('cp863.png') repeat scroll -540px 0px transparent; }
#cp863-189 { background: url('cp863.png') repeat scroll -549px 0px transparent; }
#cp863-190 { background: url('cp863.png') repeat scroll -558px 0px transparent; }
#cp863-191 { background: url('cp863.png') repeat scroll -567px 0px transparent; }
#cp863-192 { background: url('cp863.png') repeat scroll -576px 0px transparent; }
#cp863-193 { background: url('cp863.png') repeat scroll -585px 0px transparent; }
#cp863-194 { background: url('cp863.png') repeat scroll -594px 0px transparent; }
#cp863-195 { background: url('cp863.png') repeat scroll -603px 0px transparent; }
#cp863-196 { background: url('cp863.png') repeat scroll -612px 0px transparent; }
#cp863-197 { background: url('cp863.png') repeat scroll -621px 0px transparent; }
#cp863-198 { background: url('cp863.png') repeat scroll -630px 0px transparent; }
#cp863-199 { background: url('cp863.png') repeat scroll -639px 0px transparent; }
#cp863-200 { background: url('cp863.png') repeat scroll -648px 0px transparent; }
#cp863-201 { background: url('cp863.png') repeat scroll -657px 0px transparent; }
#cp863-202 { background: url('cp863.png') repeat scroll -666px 0px transparent; }
#cp863-203 { background: url('cp863.png') repeat scroll -675px 0px transparent; }
#cp863-204 { background: url('cp863.png') repeat scroll -684px 0px transparent; }
#cp863-205 { background: url('cp863.png') repeat scroll -693px 0px transparent; }
#cp863-206 { background: url('cp863.png') repeat scroll -702px 0px transparent; }
#cp863-207 { background: url('cp863.png') repeat scroll -711px 0px transparent; }
#cp863-208 { background: url('cp863.png') repeat scroll -720px 0px transparent; }
#cp863-209 { background: url('cp863.png') repeat scroll -729px 0px transparent; }
#cp863-210 { background: url('cp863.png') repeat scroll -738px 0px transparent; }
#cp863-211 { background: url('cp863.png') repeat scroll -747px 0px transparent; }
#cp863-212 { background: url('cp863.png') repeat scroll -756px 0px transparent; }
#cp863-213 { background: url('cp863.png') repeat scroll -765px 0px transparent; }
#cp863-214 { background: url('cp863.png') repeat scroll -774px 0px transparent; }
#cp863-215 { background: url('cp863.png') repeat scroll -783px 0px transparent; }
#cp863-216 { background: url('cp863.png') repeat scroll -792px 0px transparent; }
#cp863-217 { background: url('cp863.png') repeat scroll -801px 0px transparent; }
#cp863-218 { background: url('cp863.png') repeat scroll -810px 0px transparent; }
#cp863-219 { background: url('cp863.png') repeat scroll -819px 0px transparent; }
#cp863-220 { background: url('cp863.png') repeat scroll -828px 0px transparent; }
#cp863-221 { background: url('cp863.png') repeat scroll -837px 0px transparent; }
#cp863-222 { background: url('cp863.png') repeat scroll -846px 0px transparent; }
#cp863-223 { background: url('cp863.png') repeat scroll -855px 0px transparent; }
#cp863-224 { background: url('cp863.png') repeat scroll -864px 0px transparent; }
#cp863-225 { background: url('cp863.png') repeat scroll -873px 0px transparent; }
#cp863-226 { background: url('cp863.png') repeat scroll -882px 0px transparent; }
#cp863-227 { background: url('cp863.png') repeat scroll -891px 0px transparent; }
#cp863-228 { background: url('cp863.png') repeat scroll -900px 0px transparent; }
#cp863-229 { background: url('cp863.png') repeat scroll -909px 0px transparent; }
#cp863-230 { background: url('cp863.png') repeat scroll -918px 0px transparent; }
#cp863-231 { background: url('cp863.png') repeat scroll -927px 0px transparent; }
#cp863-232 { background: url('cp863.png') repeat scroll -936px 0px transparent; }
#cp863-233 { background: url('cp863.png') repeat scroll -945px 0px transparent; }
#cp863-234 { background: url('cp863.png') repeat scroll -954px 0px transparent; }
#cp863-235 { background: url('cp863.png') repeat scroll -963px 0px transparent; }
#cp863-236 { background: url('cp863.png') repeat scroll -972px 0px transparent; }
#cp863-237 { background: url('cp863.png') repeat scroll -981px 0px transparent; }
#cp863-238 { background: url('cp863.png') repeat scroll -990px 0px transparent; }
#cp863-239 { background: url('cp863.png') repeat scroll -999px 0px transparent; }
#cp863-240 { background: url('cp863.png') repeat scroll -1008px 0px transparent; }
#cp863-241 { background: url('cp863.png') repeat scroll -1017px 0px transparent; }
#cp863-242 { background: url('cp863.png') repeat scroll -1026px 0px transparent; }
#cp863-243 { background: url('cp863.png') repeat scroll -1035px 0px transparent; }
#cp863-244 { background: url('cp863.png') repeat scroll -1044px 0px transparent; }
#cp863-245 { background: url('cp863.png') repeat scroll -1053px 0px transparent; }
#cp863-246 { background: url('cp863.png') repeat scroll -1062px 0px transparent; }
#cp863-247 { background: url('cp863.png') repeat scroll -1071px 0px transparent; }
#cp863-248 { background: url('cp863.png') repeat scroll -1080px 0px transparent; }
#cp863-249 { background: url('cp863.png') repeat scroll -1089px 0px transparent; }
#cp863-250 { background: url('cp863.png') repeat scroll -1098px 0px transparent; }
#cp863-251 { background: url('cp863.png') repeat scroll -1107px 0px transparent; }
#cp863-252 { background: url('cp863.png') repeat scroll -1116px 0px transparent; }
#cp863-253 { background: url('cp863.png') repeat scroll -1125px 0px transparent; }
#cp863-254 { background: url('cp863.png') repeat scroll -1134px 0px transparent; }
#cp863-255 { background: url('cp863.png') repeat scroll -1143px 0px transparent; }
